@import "../../styles/colors";
@import "../../styles/sizes";

.container {
  background: $main-blue;
  bottom: 0;
  height: 100vh;
  left: 0;
  min-width: 300px;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform .2s ease;
  width: calc((100vw - #{$main-content-width}) /2 - #{$space-primary});
  z-index: 2;

  &.show {
    transform: translateX(0);
    transition: transform .2s ease;
  }

  .header {
    background: darken($main-blue, 5%);
    height: $navigation-height;
    padding: $space-secondary;

    .navIcon {
      svg {
        fill: $main-white;
      }

      &:hover {
        background: darken($main-blue, 7%);;
      }
    }
  }

  .productListNav {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$navigation-height});
    justify-content: space-between;
    padding: $space-primary;

    .productList {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-bottom: 2 * $space-primary;

      h2 {
        border-bottom: 1px solid lighten($main-blue, 5%);
        color: $main-white;
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: $space-secondary;
        padding-bottom: $space-secondary;
      }

      li {
        a {
          align-items: center;
          color: $main-white;
          display: flex;
          flex-direction: row;
          font-size: .85em;
          padding: $space-secondary + 5 $space-secondary;
          text-decoration: none;

          &:hover, &.active {
            background: darken($main-blue, 5%);
            border-radius: $primary-radius;
          }

          &.active {
            background: $light-blue;
          }

          .icon {
            margin-right: $space-primary;

            svg {
              fill: $main-white;
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }

    .button {
      background: darken($main-blue, 5%);;
      width: 100%;
    }
  }
}
