@import '../../styles/colors';
@import '../../styles/sizes';
@import '../../styles/mixins';

.container {
  @include container;
  height: calc(100vh - #{$navigation-height});

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $space-primary;
    width: $main-content-width;

    .info {
      padding: $space-primary;
      width: calc(#{$main-content-width} - 350px - #{$space-primary});

      .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $space-primary * 4;

        .text {
          color: $dark-gray;
          line-height: 1.5;
          text-align: justify;
        }
      }
    }

    .relevantMethods {
      padding: $space-primary * 5 $space-primary $space-primary;

      .heading {
        color: $main-blue;
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: $space-primary;
      }

      .relevantMethodsNav {
        ul {
          list-style: none;

          li {
            align-items: center;
            display: flex;

            .icon {
              margin-top: 3px;

              svg {
                fill: $light-blue;
                height: 18px;
                margin-right: $space-secondary;
                width: 18px;
              }
            }

            a {
              color: $dark-gray;
              text-decoration: none;

              &:hover {
                opacity: .7;
              }
            }
          }
        }
      }
    }
  }
}
