$main-blue: #203188;
$light-blue: #3572b0;
$dark-blue: #172b4d;
$main-white: rgb(255, 255, 255);
$main-gray: rgb(244, 245, 247);
$dark-gray: rgb(66, 82, 110);
$darken-gray: #292929;

$green: rgb(95, 187, 110);

