@import '../../styles/colors';
@import '../../styles/sizes';

.logo {
  align-items: center;
  display: flex;

  .text {
    color: $main-blue;
    font-size: 1.1em;

    &:first-letter {
      background: $main-blue;
      color: $main-white;
      padding-left: $space-primary;
    }
  }
}
