@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
  @include flex-common;
  @include container;
  background: $main-gray;
  position: relative;

  .footer {
    @include flex-common($align-items: flex-start, $justify-content: center, $direction: row);
    padding: $space-primary * 2;
    width: $main-content-width;

    .infoBox {
      @include flex-common;
      padding: 0 $space-primary;
      text-align: right;
      width: auto;

      &:last-child {
        border-left: 1px solid darken($main-gray, 10%);
        text-align: left;
      }

      .fastNav {
        width: 100%;

        .fastNavList {
          list-style: none;
          width: 100%;

          .heading {
            color: $dark-gray;
            font-size: 1em;
            margin-bottom: $space-primary;
          }

          li a {
            color: darken($main-gray, 20%);
            display: block;
            font-size: .85em;
            font-weight: 500;
            margin-bottom: $space-secondary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .copyright {
    @include flex-common($direction: row);
    color: darken($main-gray, 25%);
    font-size: .95em;
    font-weight: 400;
    padding: 0 $space-primary $space-primary;
  }
}
