@import '../../styles/colors';
@import '../../styles/sizes';

.navigation {
  align-items: center;
  background: $main-gray;
  display: flex;
  justify-content: center;
  padding: $space-primary;

  .mainMenu {
    display: flex;
    list-style: none;

    .menuItem {
      font-size: .95em;
      font-weight: 500;
      margin: 0 $space-secondary;

      a {
        color: $dark-gray;
        padding: $space-secondary;
        text-decoration: none;

        &:hover {
          border-radius: $primary-radius;
          color: $main-blue;
        }
      }
    }
  }
}
