@import '../../../styles/colors';
@import '../../../styles/sizes';

.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $space-primary;

  .mainMenu {
    display: flex;
    list-style: none;

    .menuItem {
      font-size: .95em;
      font-weight: 500;
      margin: 0 $space-secondary;

      a {
        color: $dark-gray;
        padding: $space-secondary;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 500;

        &:hover {
          border-radius: $primary-radius;
          color: $main-blue;
        }
      }
    }

    &.reverse {
      .menuItem {
        a {
          color: $main-white;

          &:hover {
            color: $main-gray;
          }
        }
      }
    }
  }
}
