@import "../../styles/colors";
@import "../../styles/sizes";
@import "../../styles/mixins";

.container {
  @include container;
  align-items: center;
  background: linear-gradient(-90deg, darken($main-blue, 7%), $dark-blue);
  padding: $space-primary * 4;

  .companyInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $space-primary;
    width: $main-content-width;

    .infoBox {
      background: $main-white;
      display: flex;
      flex-direction: column;
      height: 450px;
      justify-content: space-between;
      padding: $space-primary * 2;
      width: 350px;

      .content {
        margin-top: 20%;
        width: 100%;

        .contentList {
          list-style: none;

          .contentListItem {
            align-items: center;
            color: $dark-gray;
            display: flex;
            font-size: 1.3em;
            justify-content: flex-start;
            margin-bottom: $space-primary;

            .contentListIcon {
              margin-right: $space-primary;

              svg {
                fill: $main-blue;
              }
            }
          }
        }
      }

      .subinfo {
        color: $dark-gray;
        font-size: .85em;
        margin: $space-secondary 0;
        width: 100%;
      }

      .button {
        width: 100%;
      }
    }
  }
}
