@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
  @include flex-common;
  @include container;
  position: relative;
  background: $main-gray;

  .footer {
    @include flex-common($align-items: flex-start, $justify-content: flex-start, $direction: row);
    padding: $space-primary * 2;
    width: $main-content-width;

    .infoBox {
      @include flex-common($width: calc(100% / 3));
      margin-right: $space-primary * 2;
      padding-right: $space-primary * 2;

      &:last-child {
        padding: 0;
        margin: 0;
        border: 0;
      }

      .fastNav {
        width: 100%;

        .fastNavList {
          list-style: none;
          width: 100%;

          .heading {
            color: $dark-gray;
            font-size: 1em;
            margin-bottom: $space-primary;
          }

          li a {
            display: block;
            text-decoration: none;
            color: darken($main-gray, 20%);
            font-size: .85em;
            font-weight: 600;
            margin-bottom: $space-secondary;
          }
        }
      }
    }
  }

  .copyright {
    @include flex-common($direction: row);
    color: darken($main-gray, 25%);
    font-weight: 400;
    font-size: .95em;
    padding: $space-primary;

    .text {
      font-weight: 500;
      margin-left: $space-secondary;

      &:first-letter {
        background: $dark-blue;
        color: $main-white;
        padding-left: 3px;
      }
    }
  }
}