@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
  @include container;
  height: calc(100vh - #{$navigation-height});

  .methods {
    margin-top: $space-primary;
    padding: $space-primary;
    width: $main-content-width;

    .header {
      margin-bottom: $space-primary * 2;

      .heading {
        color: $dark-gray;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: $space-primary * 2;
        margin-top: 0;

        &:first-letter {
          background: $dark-gray;
          color: $main-white;
          padding-left: $space-secondary;
        }
      }
    }

    .method {
      display: flex;
      justify-content: space-between;
      margin-top: $space-primary;

      .methodInfo {

        p {
          color: $dark-gray;
          line-height: 1.3;
          text-align: justify;
          margin-bottom: $space-primary * 2;
        }

        .features {
          padding-left: $space-primary * 2;

          .featuresList {
            list-style: none;
            margin-bottom: $space-primary;

            .feature {
              align-items: center;
              color: $dark-gray;
              display: flex;
              justify-content: flex-start;
              margin-bottom: $space-primary;

              &:last-child {
                margin: 0;
              }

              .featureIcon {
                margin-right: $space-primary;

                svg {
                  fill: $main-blue;
                }
              }
            }
          }
        }
      }

      .gallery {
        padding-left: $space-primary * 2;
        width: 480px;
      }
    }
  }
}