@import '../../styles/colors';
@import '../../styles/sizes';

.platesMock {
  height: 200px;
  position: relative;
  width: 450px;

  .plate {
    background: darken($main-gray, 5%);
    border-radius: $primary-radius + 2;
    height: 200px;
    padding: $space-primary;
    perspective: 1000px;
    position: absolute;
    transform: perspective(500px) rotateY(-45deg);
    width: 450px;

    &:nth-child(2) {
      background: $main-gray;
      left: $space-primary * 1.5;
      top: $space-primary * 1.5;
    }

    &:nth-child(3) {
      background: $main-white;
      left: $space-primary * 3;
      top: $space-primary * 3;
    }

    .plateMock {
      background: $main-gray;
      border-radius: 10px;
      height: 15px;
      margin-bottom: $space-primary;
      width: 90%;

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3) {
        width: 75%;
      }
    }
  }
}
