@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.gallery {
  position: static;

  .photos {
    display: inline-block;

    .photo {
      background: radial-gradient($main-white, $main-blue);
      float: left;
      height: 200px;
      margin-bottom: $space-primary;
      margin-right: $space-primary;
      overflow: hidden;
      width: 200px;

      &:last-child {
        margin-right: 0;
      }

      img {
        @include scale-in(.2, 1);
        height: 100%;
        opacity: .7;

        &:hover {
          @include scale-in(.2, 1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.popup {
  @include fade-out(.2);
  @include flex-common;
  @include container;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 6;

  &.show {
    @include fade-in(.2);
  }

  .content {
    @include flex-common($direction: row);
    position: relative;
    width: auto;
    z-index: 4;

    .img {
      overflow: hidden;
      user-select: none;
    }

    .arrow {
      background: $main-white;
      border-radius: $full-radius;
      display: flex;
      padding: $space-primary;
      position: fixed;

      &.back {
        left: $space-primary * 3;
      }

      &.forward {
        right: $space-primary * 3;
      }

      &:hover {
        background: rgba($main-white, .8);
        cursor: pointer;
      }

      svg {
        fill: $dark-gray;
        height: 32px;
        width: 32px;
      }
    }
  }

  .blockLayer {
    background: rgba($main-blue, .5);
    bottom: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 3;
  }
}
