@import 'colors';
@import 'sizes';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
}

body {
  background: $main-white;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
}

.pageHeading {
  color: $darken-gray;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: $space-primary * 2;
  padding-bottom: $space-secondary;
  position: relative;
  width: 250px;

  &::after {
    background: linear-gradient(
      to right,
      $light-blue 0%,
      $light-blue 25%,
      $main-gray 25%,
      $main-gray 100%
    );
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
  }
}

